<% @meta_title = "Server Error (500)" %>
<% @meta_description = "We're experiencing technical difficulties. Please try again in a few moments while we resolve this issue with the Dependabot tracker." %>

<div class="container-sm text-center">
  <h2>Oops, We've had a problem at our end.</h2>
  <p>Hopefully this a temporary setback.  Try again in a few moments.</p>
</div>