<% @meta_title = "Page Not Found (404)" %>
<% @meta_description = "The page you're looking for doesn't exist. Browse our Dependabot tracker to discover security updates and dependency management across open source projects." %>

<div class="container-sm text-center">
  <h2>We can't find whatever it was you were looking for.</h2>
  <p>It may have been deleted, or might not even exist.</p>
</div>