<% @meta_title = "Unprocessable Request (422)" %>
<% @meta_description = "The request couldn't be processed. Please check your parameters and try again when using the Dependabot tracker." %>

<div class="container-sm text-center">
  <h2>Unprocessable request</h2>
  <p>Check your request parameters and try again.</p>
</div>
